/*
Program       esci-d-picture.css
Author        Gordon Moore
Date          20 August 2020
Description   CSS for esci see-r
Licence       GNU General Public LIcence Version 3, 29 June 2007
*/

/* #region Version history

0.0.1   Initial version


#endregion */


/*---------------------------------icons-----------------------------------------------------------*/

.red {
  color: red;
}

.black {
  color: black;
}

.small {
  font-size: 1.3rem;
}

.small1 {
  font-size: 1.4rem;
}

.backcolour {
  border: 1px solid darkgrey;
  background-color: lemonchiffon;
  padding-left:0.2rem;
  padding-right: 0.2rem;
}

.greek2 {
  font-size: 2.2rem;
}

.icons {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 2.6rem;
}

.slidericons {
  margin-top: 2.8rem;
}

.slidericons:hover {
  background-color: lightgray;
}

.slidericons:active {
  background-color: darkgrey;
}

/*----------------------------------Override left panel--------------------------------------------*/

#leftpanel {
  border: 2px solid black;
  font-size: 1.6rem;
}

#header {
  border: 0px solid black;
}

#breadcrumbs {
  border: 1px solid black;
  font-size: 1.6rem;
}

/*----------------------------------Panels-----------------------------------------------------*/

/*--------------Panel 1 N-----------------------*/
#Npanel {
  border: 1px solid black;
  background-color: #FFFF99;
  padding: 0.5rem;
}

#Nsliderpanel {
  display: grid;
  grid-template-columns: 25rem 2rem 3rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
}

#Nval {
  margin-top: 2.5rem;
  height: 2rem;
  width: 4rem;
}

/*--------------Panel 2 r-----------------------*/
#rpanel {
  border: 1px solid black;
  background-color: #CCFFCC;
  padding: 0.5rem;
}

#rsliderpanel {
  display: grid;
  grid-template-columns: 25rem 2rem 3rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
}

#rval {
  margin-top: 2.5rem;
  height: 2rem;
  width: 4rem;
}

#calculatedrdiv {
  margin: 0.5rem;
}

/*--------------Panel 3 rho-----------------------*/
#rhopanel {
  border: 1px solid black;
  background-color: #FFCC99;
  padding: 0.5rem;
}

#rhosliderpanel {
  display: grid;
  grid-template-columns: 25rem 2rem 3rem 5rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
}

#rhoval {
  margin-top: 2.5rem;
  height: 2rem;
  width: 4rem;
}

#calculatedrhodiv {
  margin: 0.5rem;
}

#cionrhodiv {
  margin: 0.5rem;
}

#cionrhoinfo {
  margin: 0.5rem;
}


/*--------------Panel 4 New data set-----------------------*/
#newdatasetpanel {
  border: 1px solid black;
  background-color: ivory;
  padding: 0.5rem;
}

#newdataset {
  padding: 0.7rem;
  width: 12rem;
  height: 2.3rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: palegreen;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
  margin-left: 5rem;
}

#newdataset:hover {
  background-color: springgreen;
}

#newdataset:active {
  background-color: green;
}

/*--------------Panel 5 Display features-----------------------*/
#displayfeaturespanel {
  border: 1px solid black;
  background-color: ivory;
  padding: 0.5rem;
}

#displayr {
  margin-top: 1.0rem;
}

#displayctm {
  margin-top: 1.0rem;
}

#displaymd {
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}


/*----------------------------------Right panel-----------------------------------------*/
#rightpanel {
  border: 1px solid grey;
  display: grid;
  grid-template-rows: 5fr 1fr;
}


/*----------------------------------display-------------------------------------------------------------*/

#display {
  background-color: white;
}

